In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('salaries_by_college_major.csv')
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [3]:
df.shape

(51, 6)

In [4]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [5]:
cdf = df.dropna()
cdf.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

# Highest Mid-Career Median Salary

In [6]:
cdf.loc[cdf['Mid-Career Median Salary'].idxmax()]

Undergraduate Major                  Chemical Engineering
Starting Median Salary                            63200.0
Mid-Career Median Salary                         107000.0
Mid-Career 10th Percentile Salary                 71900.0
Mid-Career 90th Percentile Salary                194000.0
Group                                                STEM
Name: 8, dtype: object

# Lowest Starting Salary
Which college major has the lowest starting salary and how much do graduates earn after university?

In [7]:
min_starting_salary_index = cdf['Starting Median Salary'].idxmin()
cdf.loc[min_starting_salary_index]

Undergraduate Major                  Spanish
Starting Median Salary               34000.0
Mid-Career Median Salary             53100.0
Mid-Career 10th Percentile Salary    31000.0
Mid-Career 90th Percentile Salary    96400.0
Group                                   HASS
Name: 49, dtype: object

# Highest Salaries in the 90th percentile
Find the top 5 degrees with the highest values in the 90th percentile.

In [8]:
cdf.sort_values(by='Mid-Career 90th Percentile Salary', ascending=False).head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
17,Economics,50100.0,98600.0,50600.0,210000.0,Business
22,Finance,47900.0,88300.0,47200.0,195000.0,Business
8,Chemical Engineering,63200.0,107000.0,71900.0,194000.0,STEM
37,Math,45400.0,92400.0,45200.0,183000.0,STEM
44,Physics,50300.0,97300.0,56000.0,178000.0,STEM

# Find the degrees with the greatest spread in salaries
Which majors have the largest difference between high and low earners after graduation.

In [9]:
spread_col = cdf['Mid-Career 90th Percentile Salary'] - cdf['Mid-Career 10th Percentile Salary']
cdf.insert(1,"Spread", spread_col)

In [10]:
# cdf[['Undergraduate Major', 'Spread']].sort_values("Spread", ascending=False).head()
# cdf.sort_values("Spread", ascending=False)[['Undergraduate Major', 'Spread']].head()
cdf.sort_values("Spread", ascending=False).head()[['Undergraduate Major', 'Spread']]

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0